

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #454545;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #454545;
}






.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #13baee;
}




body {
    font-family: "Segoe UI", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn.btn-info.btn-sm {
	padding: 10px 16px;
	line-height: 1.3333333;
	border-radius: 6px;
        background-color: #13BAEE !important;
}

/* Custom top menu 
Path:/addons/web/static/src/css/base.css
*/
#oe_main_menu_navbar {
    background-color: #13BAEE !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}









.o_loading{
    background-color :  #004CFF;
   
}





.o_mail_annoying_notification_bar{
    background-color : #13BAEE !important;/*barra notificacion escritorio*/
    font-size: 10px;
}




 .o_mail_request_permission{
    background-color : #13BAEE;  /*barra notificacion escritorio*/
}

 .fa-close{
    background-color : #13BAEE;  /*cerrar */
}




 .o_mail_chat_sidebar {
    background-color : #13BAEE !important;/*barra notificacion escritorio*/
    color: black;   
    
}



.o_channel_name > .active > a:focus {
    color: #333;
    background-color: #166E9E;
}





.o_add{
    color: #004cff  !important;
}





.badge{
    background-color: #004cff  !important; /*globito con total*/
}




.btn.btn-primary.btn-block.o_browse_apps{
    color: #004cff  !important;
    background-color: #004cff !important;
}


.btn{
    color: black !important;
    background-color:  #E8E8E8 !important;
}


.btn-primary{
    color: black  !important;
    background-color: #E8E8E8 !important;
}
.btn-block{
    color: black  !important;
    background-color: #E8E8E8 !important;
}




.o_inner_box {
    color:  #333 !important;
    background-color: #13BAEE !important;
}





.fa-facebook-square{
color: #13BAEE !important;
}

.fa-twitter-square{
color: #13BAEE !important;
}

.fa-linkedin-square{
color: #13BAEE !important;
}


.pull-left{
color: #004CFF !important;
}
.oe_secondary_menu{
color: #004CFF !important;
}


.o_web_settings_dashboard_progress_title{
color: #004CFF !important;
}


.o_web_settings_dashboard_access_rights{
color: #004CFF !important;
}

.fa-users{
color: #333 !important;
}


.o_web_settings_dashboard_pending_users>a{
color: #004CFF !important;
}


.text-center>a{
color: #004CFF !important;
}


.o_web_settings_dashboard_compact_subtitle>small>a{
color: #004CFF !important;
}








.o_sub_menu_footer{
display:none;
}


.o_animated>div{
background-color: #13BAEE !important;
}







.oe_secondary_menu{
color: #333 !important;
}


.o_mail_chat_channel_item>.o_active{
color: white !important;
background-color: #13BAEE !important;
}


.o_active>.o_chanel_name{
    color: white  !important;
    background-color: #166E9E !important;
}



.pull-right{
color: #004CFF !important;
}




.o_channel_name{
    color: #e7e7e7;
}



 .o_active{

   color: white;
}



.o_searchview_facet{
    color: white  !important;
    background-color: #13baee !important;
}


.oe_view_nocontent .oe_view_nocontent_create::before {
    background: transparent url(../img/view_empty_arrow.png) no-repeat 0px 0px;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon {  
    color: #13baee !important;
}


.o_required_modifier.o_input, .o_required_modifier .o_input {
    background-color: #13baee !important;
}

.btn-primary {
    color:#13baee !important;
    background-color: #E8E8E8 !important;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: # 13baee;
}


.o_mail_chat_channel_item  .o_active {
      background-color: #E8E8E8 !important;
    color: brown;
}




.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #195dff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #333;
}


.elemento>a {
    
    background-color: #13baee !important;
}


main{
    background: transparent url(../img/login.png) no-repeat;

}
