@font-family-sans-serif:  "Segoe UI", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Segoe UI", "Helvetica Light",Georgia, "Times New Roman", Times, serif;
@gray-dark:              lighten(@gray-base, 10%);   // #333
@brand-primary:         #13baee;
@navbar-default-color:             #13baee;
@navbar-default-bg:                #13baee;
@navbar-default-border:            #13baee;

.btn.btn-info.btn-sm {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
h1 {
    color: green;
}
.text-center{
	font-size:20px;
}

/* Custom top menu 
Path:/addons/web/static/src/css/base.css
*/
#oe_main_menu_navbar {
    background-color: #13BAEE !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333; /*333casi negro*/
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #166E9E /*azul claro*/;
}

.o_main_navbar>li>a{
 background-color: #13BAEE !important;
}


.oe_menu_leaf>a{
 background-color: #13BAEE !important; /*azul barra superior*/
}

// Others
::-moz-selection {
    background:  #13BAEE !important;
}
::selection {
    background:#13BAEE !important;
}


.o_connected_user o_main_navbar >li>a 
     background-color: #13BAEE !important;
        color: #333;
}
@gray-base:red;

.navbar-default{background-color: #13baee !important;border-color:red;} 
.navbar-default->.navbar-nav > .active > a{background-color: #13baee !important;  border-color:red;} 


.bg-gray-darker{background-color:  lighten(@gray-base, 10%);   color: #FFF;} 
.bg-gray-darker .text-muted{color: rgba(255, 255, 255, 0.4);} 
body .text-gray-darker{color: #222222;} /*casi negro*/
 .bg-gray-dark{background-color:  lighten(@gray-base, 10%);   color: #FFF;} 
.bg-gray-dark .text-muted{color: rgba(255, 255, 255, 0.4);} 
body .text-gray-dark{color: lighten(@gray-base, 10%);  }


/* Nav-bar menu */
.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}

.o_web_client .navbar .o_menu_toggle:hover {
  background-color: #000000;
}

.navbar-inverse .navbar-nav > li > a {
  color: #13BAEE;  /* #E7E7E7 gris*/
}

.navbar-inverse .navbar-nav > .active > a, .oe_menu_toggler:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #13BAEE;  /* #E97B2Enaranja*/
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #13BAEE;  /*naranja*/
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #000000;
}

/* Side-bar menu */
.openerp .oe_stat_button:hover {
  background: #13BAEE;  /*naranja*/
  color: white;
}

.openerp .oe_secondary_menu_section {
  font-weight: bold;
  margin-left: 8px;
  color: #13BAEE;   /*naranja*/
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #13BAEE;   /*naranja*/
  color: white;
  border-radius: 0;
}

.openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus, .openerp a.list-group-item.active
  background-color: #13BAEE;   /*naranja*/
}

.openerp .nav-pills > li.active .badge, .openerp a.list-group-item.active .badge {
  background-color: white;
  color: #13BAEE;   /*naranja*/
  text-shadow: none;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  background: #13BAEE;   /*naranja*/
}

.modal-lg {
  width: 70%;
}

.oe_form_sheet_width  {
  max-width: 1300px;
}

.navbar .oe_topbar_name {
  max-width: 250px;
}
.o_project_kanban_box {
    background-color: #13baee;  /*naranja*/
}

a {
    color: #13BAEE;   /*naranja*/
    text-decoration: none;
}

.btn.focus {
  color: #13BAEE;   /*naranja*/
  text-decoration: none;
} 

.btn-default {
  color: #13BAEE;   /*naranja*/
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-default:focus,
.btn-default.focus {
  color: #13baee;   /*naranja*/
  background-color: #13BAEE;  /*gris*/
  border-color: #bfbfbf;  /*gris oscuro*/
}

.btn-default:hover {
  color: #13baee;
  background-color: #13BAEE;    /*gris*/
  border-color: #e0e0e0;  /*gris medio*/
} 

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #13baee;
  background-color: #13BAEE; /*gris*/
  border-color: #e0e0e0;  /*gris medio*/
} 

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #13baee;
  background-color: #13BAEE;  /* #d4d4d4griss medio */
  border-color: #bfbfbf;  /*gris oscuro*/
} 

.btn-default .badge {
  color: #ffffff;
  background-color: #13baee; /*naranja*/
} 

.btn-primary {
  color: #ffffff;
  background-color: #13baee; /*naranja*/
  border-color: #13baee;  /*naranja*/
} 

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #13baee;  /*naranja*/
  border-color: #13baee;  /*naranja*/
} 

.btn-primary .badge {
  color: #13baee;  /*naranja*/
  background-color: #ffffff;
} 

.btn-link {
  color: #13baee;  /*naranja*/
  font-weight: normal;
  border-radius: 0;
} 

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #13baee;  /*naranja*/
  text-decoration: none;
  outline: 0;
  background-color: #13BAEE; /*gris claro*/
} 

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #13BAEE;  /*  #eeeeee gris claro*/
  border-color: #13baee; /*naranja*/
} 

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #13baee;  /*naranja*/
  background-color: #13BAEE;  /*gris claro*/
} 

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #13baee;
  background-color: #ffffff;
  border: 1px solid #dddddd;  /*grsi medio*/
  margin-left: -1px;
} 

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #13baee;
  line-height: 1.428571429;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
} 

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #13baee; /*naranja*/
  background-color: #ffffff;
} 

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #13baee; /*naranja*/
} 

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #13baee;  /*naranja*/
  background-color: #13BAEE;  /*gris claro*/
  border-color: #13BAEE; /*gris claro*/
} 

.bootstrap-datetimepicker-widget td.today:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #13baee;  /*naranja*/
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
} 

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: #13baee; /*naranja*/
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
} 

.bootstrap-datetimepicker-widget td span.active {
  background-color: #13baee;  /*naranja*/
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
} 

.badge {
  border: 1px solid #13baee;  /*naranja*/
  margin: 1px 2px 1px 0;
  padding-top: 0;
  padding-bottom: 0;
} 

a {
  color: #13baee;
} 

div.o_checkbox > input:focus + span {
  outline: 1px solid #13baee;  /*naranja*/
} 

.datepicker .table-condensed > tbody > tr > td.active,
.datepicker .table-condensed > tbody > tr > td .active {
  background-color: #13baee;  /*naranja*/
  border-radius: 100px;
} 

.datepicker .table-condensed > tbody > tr > td.today:before {
  border-bottom-color: #13baee;  /*naranja*/
} 

.o_progressbar .o_progress .o_progressbar_complete {
  background-color: #13baee;  /*naranja*/
  height: 100%;
} 

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
  color: #13baee;  /*naranja*/
} 

.o_control_panel .breadcrumb > li > a {
  color: #13baee;  /*naranja*/
  cursor: pointer;
} 

.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
  padding: 3px 25px;
  color: #13baee;  /*naranja*/
} 

.o_control_panel .breadcrumb > li.o_back_button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border-radius: 0px;
    border: none;
    color: #13baee;  /*naranja*/
    background-color: #ffffff;
    border-color: #ffffff;
    text-transform: uppercase;
  }

.o_control_panel .breadcrumb > li.o_back_button:hover,
  .o_control_panel .breadcrumb > li.o_back_button:focus,
  .o_control_panel .breadcrumb > li.o_back_button.focus {
    color: #13baee;  /*naranja*/
    text-decoration: none;
  }

.o_control_panel .breadcrumb > li.o_back_button:focus,
  .o_control_panel .breadcrumb > li.o_back_button.focus {
    color: #13baee; /*naranja*/
    background-color: #13BAEE;
    border-color: #bfbfbf;
  }

.o_control_panel .breadcrumb > li.o_back_button:hover {
    color: #13baee;
    background-color: #13BAEE;  /*gris medio*/
    border-color: #e0e0e0;
  }
  .o_control_panel .breadcrumb > li.o_back_button:active,
  .o_control_panel .breadcrumb > li.o_back_button.active,
  .open > .dropdown-toggle.o_control_panel .breadcrumb > li.o_back_button {
    color: #13baee;
    background-color: #13BAEE; /*  #e6e6e6gris*/
    border-color: #e0e0e0;  /*gris*/
  }

.o_control_panel .breadcrumb > li.o_back_button:active:hover,
  .o_control_panel .breadcrumb > li.o_back_button.active:hover,
  .open > .dropdown-toggle.o_control_panel .breadcrumb > li.o_back_button:hover,
  .o_control_panel .breadcrumb > li.o_back_button:active:focus,
  .o_control_panel .breadcrumb > li.o_back_button.active:focus,
  .open > .dropdown-toggle.o_control_panel .breadcrumb > li.o_back_button:focus,
  .o_control_panel .breadcrumb > li.o_back_button:active.focus,
  .o_control_panel .breadcrumb > li.o_back_button.active.focus,
  .open > .dropdown-toggle.o_control_panel .breadcrumb > li.o_back_button.focus {
    color: #13baee;  /*naranja*/
    background-color: #13BAEE;  /*gris*/
    border-color: #bfbfbf; /*gris*/
  }

.o_control_panel .breadcrumb > li.o_back_button .badge {
    color: #ffffff;
    background-color: #13baee; /*naranja*/
  }

.o_pivot.o_enable_linking .o_pivot_cell_value:hover {
  color: #13baee; /*naranja*/
  cursor: pointer;
} 

.o_form_view .oe_link {
  color: #13baee;  /*naranja*/
  font-weight: normal;
  border-radius: 0;
} 

.o_form_view.o_form_readonly .o_form_uri:first-line {
  color: #13baee; /*naranja*/
} 

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before {
  border-left-color: #13baee; /*naranja*/
} 

.o_form_view .o_form_field_image .o_form_image_controls {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
  width: 100%;
  color: white;
  background-color: #13baee;  /*naranja*/
  opacity: 0;
  transition: opacity ease 400ms;
} 

.o_form_view .o_form_field_percent_pie .o_pie {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #13baee; /*naranja*/
} 

.o_reconciliation .progress .progress-bar {
  background-color: #13baee; /*naranja*/
} 

.o_reconciliation .o_reconciliation_line .partner_name .change_partner {
  color: #13baee; /*naranja*/
  display: none;
  cursor: pointer;
  margin: 0 10px 0 5px;
} 

.o_reconciliation .o_reconciliation_line .accounting_view tr .do_partial_reconcile_button,
.o_reconciliation .o_reconciliation_line .match table tr .do_partial_reconcile_button {
  color: #13baee; /*naranja*/
  padding-right: 5px;
} 

.o_kanban_view.o_kanban_dashboard.o_account_kanban .o_kanban_record .o_kanban_graph_section .o_graph_barchart > svg g.nv-barsWrap g.nv-group.nv-series-0 g.future {
  opacity: 0.5;
  fill: #13baee !important; /*naranja*/
} 

.o_kanban_view.o_kanban_dashboard.o_project_kanban .o_project_kanban_boxes .o_project_kanban_box:nth-child(odd) {
    background-color: #13baee; /*naranja*/
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a {
    background-color:  #13baee; 
}



.navbar, .navbar-default.navbar-static-top.container.navbar-header.navbar-toggle.sr-only.icon-bar.navbar-brand {
    background-color : #13baee; 
}



#wrapwrap{
   background-color: #ffffff;  /*parte central del home*/
}


.o_tooltip{
   background-color: #ffffff;  /*parte central del home*/
}



#wrapwrap {

  background: url('/custom_css_web/static/src/img/login.png') no-repeat;
  width: 100%;
  text-align: center;
}


a.btn:nth-child(1)

{
display:none;
pointer-events: none;
cursor: default;
}




