.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;

    h1{
        text-align: center;
    }

    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}
.company {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #16a085;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }
}


.alert alert-info mt16{
    background-color: #0b7b6c;

}
