.invoice_address{
    font-family: 'Ubuntu', sans-serif;font-weight:100;color:red;
}

.invoice_address_shipping{
    font-family: 'Ubuntu', sans-serif;font-weight:100;color:red;
}

.invoice_title{
    font-family: 'Ubuntu', sans-serif;font-weight:100;color:blue;background-color:#ffa700
}

.invoice_general_information{
    font-family: 'Ubuntu', sans-serif;font-weight:100;color:green;
}